<form class="form-registr">

    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
    <label for="password" class="sr-only">New password</label>
    <input type="password" class="form-control" id="password" style="margin-top: 30px" placeholder="New password" required ng-model="chengeModel.password">
    <label for="confirmPassword" class="sr-only">Confirm password</label>
    <input type="password" class="form-control" id="confirmPassword" style="margin-top: 30px" placeholder="Confirm password" required ng-model="chengeModel.confirmPassword">
    <button class="btn btn-lg btn-primary btn-block" style="margin-top: 30px" ng-click="chenge()">CHANGE</button><br>
    <div class="p-3 mb-2 bg-success text-white" style="margin-top: 10px; height: 35px; border-radius: 8px; text-align: center; padding-top: 3px" ng-if="chengeSuccess">{{chengeSuccess}}</div>
    <div class="p-3 mb-2 bg-danger text-white" style="margin-top: 10px; height: 35px; border-radius: 8px; text-align: center; padding-top: 6px" ng-if="chengeDanger">{{chengeDanger}}</div>

</form>