<div ng-show="!loading">

    <form class="form-registr">

        <h1 class="h3 mb-3 font-weight-normal">Registration</h1>

        <label for="firstname" style="margin-top: 30px">Firstname</label>
        <input type="text" class="form-control" id="firstname" placeholder="Firstname" required autofocus ng-model="model.firstname">

        <label for="lastname"style="margin-top: 30px">Lastname</label>
        <input type="text" class="form-control" id="lastname" placeholder="Lastname" required ng-model="model.lastname">

        <label for="email" style="margin-top: 30px">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email address" required ng-model="model.email">

        <label for="password" style="margin-top: 30px">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" required ng-model="model.password">

        <label for="confirmPassword" style="margin-top: 30px">Confirm password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" required ng-model="model.confirmPassword">

        <label for="b_date" style="margin-top: 30px">B.date</label>
        <input type="date" class="form-control" id="b_date" placeholder="B.date" required ng-model="model.b_date"><br>

        <div class="g-recaptcha" data-sitekey="6Le0B2IUAAAAAIsxCCpJ2Fgfd4COtgENG-5-UdjO"></div>

        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 30px" ng-click="registration()">Registration</button><br>

        <div class="p-3 mb-2 bg-success text-white" style="margin-top: 10px; height: 35px; border-radius: 8px; text-align: center; padding-top: 3px" ng-if="regSuccess">{{regSuccess}}</div>
        <div class="p-3 mb-2 bg-danger text-white" style="margin-top: 10px; height: 35px; border-radius: 8px; text-align: center; padding-top: 6px" ng-if="regDanger">{{regDanger}}</div>

        <a style="float: right; margin-bottom: 50px" href="/">SIGN IN</a>

    </form>

</div>